<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126164867804-2cq0bd9vjus9mpgb2ps481l4aqsi0c3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126164867804-2cq0bd9vjus9mpgb2ps481l4aqsi0c3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126164867804-6b6nd750nj5mghfdlt2a8rr5rvn2eto2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFScEE-zGnyH8qSeVg7Mc8a_43d3afb9M</string>
	<key>GCM_SENDER_ID</key>
	<string>126164867804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>earth.hypha.wallet.hyphaWallet</string>
	<key>PROJECT_ID</key>
	<string>hypha-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>hypha-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126164867804:ios:45c86504011b40978cb219</string>
	<key>DATABASE_URL</key>
	<string>https://hypha-wallet-default-rtdb.firebaseio.com</string>
</dict>
</plist>